@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');


* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
  text-align: center;
  font-family: 'Kanit', sans-serif;

}


html {
  height: 100%;
  width: 100%;

}

#body {

  height: 100%;
  background: linear-gradient(45deg, #FFEFF6, #FFE2EF, #FFCDE4, #FFBFDD, #FFA8D1);
  background-size: 400% 400%;
  animation: bonito 7s ease infinite;

  display: grid;
  grid-template-areas:

    " nav header "
    " nav main "
    " footer footer "

  ;

  grid-template-columns: max-content;
  grid-template-rows: max-content;

  gap: 10px;

  padding: 10px;
}

.filtro {
  display: none;
}

form {
  overflow: auto;
}

.list-group {

  gap: 20px;


  margin-top: 8px;


}

.list-group-item {

  border-radius: 20px;


  box-shadow: red 5px 5px 20px;
}

#nav {


  grid-area: nav;


}

#main {

  grid-area: main;
}


#footer {

  grid-area: footer;

  display: grid;
  text-align: center;
  opacity: 0.5;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

#header {


  grid-area: header;
}

#inicio,
#clientes,
#creditos {
  display: grid;
  justify-items: center;
  padding: 10px;

  box-shadow: red 5px 5px 20px;

}

form {

  margin: 5px;
  padding: inherit;

}


#guardar {

  margin: 10px;
}


@keyframes bonito {
  0% {
    background-position: 0 50%;
  }

  /* de cero a la mitad*/
  50% {
    background-position: 100% 50%;
  }

  /* cuando llegue al final,50 para que regrese*/
  100% {
    background-position: 0 50%;
  }

  /*empieza de nuevo de cero*/
}
